<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<div>
  {category.description}
</div>
  <f:if condition="{category.articles}">
    <f:if condition="{category.hasdatasheet}">
      <f:then>
        <div class="pull-right padding-12-important">
          <a   href="/helper/collectPDF.php?cat[0]={category.nameforplugin}" target="_blank" class="detakta-link"><f:translate id="category.alledatenblaetter" /> <img src="fileadmin/datenblaetter/PDF_download_h35.png" title="PDF download" class="download-pdf-image_"></a>
        </div>

      </f:then>
    </f:if>
    <div class="hidden-xs padding-top-20">

    <table class="table table-striped-detakmblue table-hover-detakmblue table-condensed table-no-border table-small-font">
      <thead>

        <tr class="datasheet-product-header-type-1">
          <td class="w-10"><f:translate  key="category.produkt" /></td>
          <td><f:translate id="category.zulassung" /></td>
          <td><f:translate id="category.zusatz" /></td>
          <td><f:translate id="category.temperatur" /></td>
          <td><f:translate id="category.durchschlagsfestigkeit" /></td>
          <td><f:translate id="category.abmessungen" /></td>
          <td><f:translate id="category.standards" /></td>
          <td><f:translate id="category.anmerkung" /></td>
          <f:if condition="{category.hasdatasheet}">
            <f:then>
              <td><f:translate id="category.datenblatt" /></td>
            </f:then>
          </f:if>

        </tr>
      </thead>
      <tbody>
      <f:for each="{category.articles}" as="article">
        <f:if  condition="{article.specialtype}=='0'">
          <f:then>
            <f:if condition="{article.part}=='1'">

              <f:then>
                <v:variable.set name="hassonderarticle" value="1" />

              </f:then>
              <f:else>
                <tr class="detakta-product-name-type-1">
                  <td class="detakta-article-name ">{article.name}</td>
                  <td>{article.approval}</td>
                  <td>{article.annex}</td>
                  <td>{article.temperature}</td>
                  <td>{article.diacstrength}</td>
                  <td>{article.dimension}</td>
                  <td>{article.standards}</td>
                  <td>{article.remark}</td>
                  <f:if condition="{category.hasdatasheet}">
                    <f:then>
                      <td class="align-center"><a target="_blank" href="{article.datasheet}" title="Leitet Herunterladen der Datei ein"><img src="fileadmin/datenblaetter/PDF_download_h35.png" title="PDF download" class="download-pdf-image_"></a></td>
                    </f:then>
                  </f:if>

                </tr>
              </f:else>
            </f:if>
          </f:then>

        </f:if>

      </f:for>

      </tbody>
    </table>
      <f:if condition="{hassonderarticle}=='1'">
        <f:then>

          <table class="table table-striped-detakmblue table-hover-detakmblue table-condensed table-no-border table-small-font mb-0">
            <thead>
            <tr class="datasheet-product-header-type-1">
              <td colspan="4" class="detakta-article-name" ><f:translate id="category.sonderprodukte" /></td>
            </tr>
            </thead>
            <tbody>
            <f:for each="{category.articles}" as="article">
              <f:if condition="{article.part}=='1'">
                <f:then><tr>
                  <td colspan="4" class="product-group-divider product-group-divider-top-blue"><f:format.nl2br>{article.remark}</f:format.nl2br></td>
                </tr>
                </f:then>


              </f:if>
            </f:for>
            <f:for each="{category.articles}" as="article">
              <f:if condition="{article.part}=='2'">
                <f:then>

                  <tr class="detakta-product-name-type-1">

                    <td class="detakta-article-name "><f:format.html>{article.name}</f:format.html></td>
                    <td ><f:format.html>{article.remark}</f:format.html></td>

                    <td  class="align-right"><img src="{article.image}"></td>

                    <f:if condition="{article.datasheet}">
                      <f:then>
                        <td class="align-center"><a  target="_blank"  href="{article.datasheet}" title="Leitet Herunterladen der Datei ein"><img src="fileadmin/datenblaetter/PDF_download_h35.png" title="PDF download" class="download-pdf-image"></a></td>
                      </f:then>


                    </f:if>

                  </tr>

                </f:then>


              </f:if>
            </f:for>
            </tbody>
          </table>
        </f:then>

      </f:if>

    </div>
    <div class="visible-xs padding-top-20">
      <table class="table table-striped-detakmblue table-hover-detakmblue table-condensed table-no-border table-small-font">
        <tbody>
      <f:for each="{colcollector}" as="subCollector">
        <f:comment>
          Prüfen ob überhaupt Artikel vorhanden sind, die nicht Sonderartikel sind
        </f:comment>
        <v:variable.set name="hasarticleinthispart" value="0" />
        <f:for each="{subCollector}" as="mobilearticles">
          <f:if condition="{mobilearticles.part}!='1'">
            <f:then>
              <v:variable.set name="hasarticleinthispart" value="1" />
            </f:then>
          </f:if>
        </f:for>

        <f:if condition="{hasarticleinthispart}=='1'">
          <f:then>


        <tr class="headerdivider">
          <td  class="rowheader headercolumn"><f:translate id="category.short.produkt" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                <td class="detakta-article-name">{mobilearticles.name}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.zulassung" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.approval}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.zusatz" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.annex}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.temperatur" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.temperature}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.durchschlagsfestigkeit" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.diacstrength}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.abmessungen" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.dimension}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.standards" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.standards}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <tr>
          <td class="rowheader headercolumn"><f:translate id="category.short.anmerkung" /></td>
            <f:for each="{subCollector}" as="mobilearticles">
              <f:if condition="{mobilearticles.part}!='1'">
                <f:then>
                  <td >{mobilearticles.remark}</td>
                </f:then>
              </f:if>
            </f:for>
        </tr>
        <f:if condition="{category.hasdatasheet}">
          <f:then>
            <tr>
              <td class="rowheader headercolumn"><f:translate id="category.short.datenblatt" /></td>
              <f:for each="{subCollector}" as="mobilearticles">
                <f:if condition="{mobilearticles.part}!='1'">
                  <f:then>
                    <td ><a  target="_blank"  href="{mobilearticles.datasheet}" title="Leitet Herunterladen der Datei ein"><img src="fileadmin/datenblaetter/PDF_download_h35.png" title="PDF download" class="download-pdf-image"></a></td>
                  </f:then>
                </f:if>

              </f:for>
            </tr>

          </f:then>
        </f:if>
          </f:then>
        </f:if>
      </f:for>
      </tbody>
      </table>
      <f:if condition="{hassonderarticle}=='1'">
        <f:then>

          <table class="table table-striped-detakmblue table-hover-detakmblue table-condensed table-no-border table-small-font">
            <thead>
            <tr class="headerdivider">
              <td class=" headercolumn " ><f:translate id="category.short.sonderprodukte" /></td>
            </tr>
            </thead>
            <tbody>
            <f:for each="{category.articles}" as="article">
              <f:if condition="{article.part}=='1'">
                <f:then><tr>
                  <td ><f:format.nl2br>{article.remark}</f:format.nl2br></td>
                </tr>
                </f:then>


              </f:if>
            </f:for>
            </tbody>
          </table>
        </f:then>

      </f:if>
    </div>
  </f:if>
</f:section>
</html>